<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<br>
<%= form_with(model: [Post.new], html: { class: 'form-horizontal' }) do |f| %>
    <div class="form-group">
      <%= f.label :title, 'Título', class: 'col-lg-2 control-label' %>
      <div class="col-lg-4">
        <%= f.text_field :title, autofocus: true, class: 'form-control', placeholder: 'Título del post' %>
      </div>
    </div>
    
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit 'Confirmar', class: 'btn btn-primary' %>
      </div>
    </div>
  <div class="col-md-12" id="posts">
    <% @posts.each do |post| %>
      <div class="well well-sm" id="<%= post.id %>" >
        <div id="contenido<%= post.id %>">
        <strong><%= post.title %>:</strong>
        </div>
        <br>
        <div class="text-right">
          <%= link_to 'ver detalle', post, class: 'btn btn-xs btn-success' %>
          <%= link_to 'Editar', edit_post_path(post), data: {remote: true}, class: 'btn btn-xs btn-warning' %>
          <%= link_to 'Eliminar', post_path(post), method: :delete, data: { confirm: 'Estás seguro que deseas eliminar el Comentario?', remote: true }, class: 'btn btn-xs btn-danger' %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
